# Fichiers systèmes
.DS_Store
Thumbs.db

# Laravel (Backend)
/backend/vendor/
/backend/node_modules/
/backend/.env
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/bootstrap/cache/*
!/backend/bootstrap/cache/.gitignore

# React (Frontend)
/frontend/node_modules/
/frontend/dist/
/frontend/.env
/frontend/.env.local